/*.pos-f-t {*/
    /*background-color: #0aa3eb;*/
/*}*/

#ve {
    font-size: 40pt;
    color: #9fcdff;
    font-family: 'Parisienne', cursive;
}

.main-icon {
    margin-left: 35px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

.navbar-color {
    background-color: #55749d !important;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

/*.fa-facebook {
    background: #3B5998;
    color: white;
}*/

/*.fa-twitter {*/
    /*background: #55ACEE;*/
    /*color: white;*/
/*}*/
